/*
@import "normalize.css";
@import "base/_variables";
*/
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
body {
    background-color: white;
}
.navbar {
    min-width: 100%;
    background-color: #404c54;
    height: 75px;
    position: relative;
}
.navbar--text {
        font-size: 1.4rem;
        text-transform: uppercase;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        position: absolute;
        color: white;
        font-weight: 700;
        letter-spacing: 5px;
    }
.navbar--text--blue {
            color: #4bcaff;
            display: inline;
        }
.navbar--menu {
        float: right;
    }
.navbar ul {
        margin: 0;
        padding: 0;
    }
.navbar li {
        list-style: none;
        float: left;
        padding: 11px 20px;
        border: 2px solid #4bcaff;
        margin-left: 20px;
        top: 50%;
        -webkit-transform: translateY(30%);
                transform: translateY(30%);
        letter-spacing: 1px;
    }
.navbar a {
        color: white;
        text-decoration: none;
        font-weight: 300;
    }
.wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 5%;
    
}
.large-hero {
    background-image:url("https://images.unsplash.com/photo-1496867506859-2421b3d9a226?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-repeat: no-repeat;
    min-height: 94vh;
    min-width: 100%;
    background-position: 20% 1%;
    position: relative;
    background-size: cover;
    
}
.large-hero--text {
        text-align: center;
       
        font-size: 2rem;
        margin-bottom: 12px;
        
        text-transform: uppercase;
        letter-spacing: 4px;
        color:white;
        font-weight: 100;
        max-width: 1000px;
        margin: 0 auto;

    }
.large-hero--wrapper {
        padding-top: 10%;

    
    }
.large-hero p {
     margin-bottom: 12px;
     background-color: rgba(64, 75, 83, 0.5);
     display: inline-block;
     padding: 16px 15px;
       
    }
.skills {
    background-color: #4bcaff;
    min-width: 100%;
    min-height: 100vh;
    font-size: 2rem;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    font-weight: 200;
    

 
}
.skills--title {
        margin-top: 20px;
        position: absolute;
        
    }
.skills sp {
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }
.skills-icons {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
.skills-icons-img {
           display: inline-block;
           margin-right: 20px; 
        }
.skills .inline {
        width: 200px;
        display: inline-block;
        margin-top: 30vh; 
    }
.skills-desc {
        color: white;
        text-align: center;
        font-weight: 300;
        margin-top: 10px;
    }
.portfolio {
    min-height: 100vh;
    background-color: white;
    color: #404c54;
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 20px;
}
spp {
    border-bottom: 2px solid #404c54;
    padding-bottom: 10px;
}
/*
@import "base/_mixins";
@import "modules/_large-hero";
@import "modules/_btn";
*/
