.footer {
    background-color: black;
    min-height: 70px;
    font-size: 1rem;
    position: relative;

    
    &-text {
        position: relative;
        color: #515f67;
        display: inline-block;
        margin-bottom: 15px;
        margin-left: 20%;
        
        @mixin atSmall {
            margin-top: 20px;
            margin-bottom: 0;
            margin-left: 0;
        }
        
    

    }
}

.btn {
    background-color: $mainBlue;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-left: 35%;
    margin-bottom: 20px;
    
    @mixin atSmall {
        display: inline-block;
        float: right;
        background-color: $mainBlue;
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        margin-top: 15px;
    }
}