.skills {
    background-color: $mainBlue;
    min-width: 100%;
    min-height: 100vh;
    font-size: 2rem;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    font-weight: 200;
    
    &--grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 10px;
        
        @mixin atSmall {
           grid-template-columns: repeat(10,1fr); 
        }
        
        img {
            max-width: 200px;
            object-position: 50% 50%;
            object-fit: auto;
            max-height: 200px;
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
    }
    
    &--title {
        margin-top: 80px;
        position: absolute;
        
    }
    sp {
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }
    
    &-icons {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 30vh;
        
        &-img {
           grid-column: span 2;
        }
    }
    
    &-desc {
        color: white;
        text-align: center;
        font-weight: 300;
        margin-top: 10px;
        width: 100%;
        
    }
    
 
}